@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 132, 255);
    font: normal 1rem arial, sans-serif;
}

header {
    color: white;
    text-align: center;
    padding: 10px;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.384);
}

div#form{
    display: flex;
    display: grid;
    flex-flow: column nowrap;
    place-items: center;
}

div>input {
    padding: 5px;
    margin: 5px;
    text-align: center;
    width: 100px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


div#form>fieldset {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    padding: 5px;
    width: 300px;
}

div>input#ver {
    height: 50px;
    width: 100px;
    font: bolder 1.2rem black;
}


footer {
    color: white;
    text-align: center;
    font-style: italic;
    padding: 10px;
}